

/* Set Up
================================ */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* General
================================ */

html,
body{
	font-size: 67.5%; /*1.0rem = 10px*/
  font-family: 'Open Sans', sans-serif;
}

.main-header{
  background-color: #43A6DF;
  width: 100%;

  
}

.main-footer{
  background-color: #43A6DF;
  width: 100%;
  min-height:100px;
}
h1{

}

h2{

  font-size: 4.8rem;
  margin: 0 0;
}
p{
  line-height: 3rem;
  font-size: 2.1rem;
  margin:1em 0;

}

img{
  max-width: 100%;
}


.hide{
  display:none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

/* featured posts
================================ */


.img-mask{
  overflow: hidden;
  height: 320px;

}

/*.copy{
width: 100%;
margin:auto;
}
*/



/* Navigation and Buttons
================================ */

.big-button{
  text-decoration: none;
  background: #f43059;
  padding:5%;
  text-align: center;
  color:white;
  display:block;
  width: 90%;
/*  margin: 2.4rem 0;*/
}



/* logo
================================ */

.logo-outer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:6px solid white;
 /* position: relative;
  top:10px;
  left:10px;*/


}

.logo-inner-dot{
  width:20px;
  height: 20px;
  border-radius:50%;
  background:white;
  margin:35% auto;
}

/* Layout
================================ */

.wrap{
  margin: 0 auto;
  width: 90%;
}


/* Media Queries
================================ */

/* Phones to Tablets */

  @media only screen and (min-width: 481px){
  .column{
    float:left;
  }

  .third{
    width: 31.3333333%;
    margin-right: 2%;
    border: 1px solid black;
  }
}


/* Tablet to Desktop */

@media only screen and (min-width: 769px){

}

@media only screen and (min-width: 1024px){
  .wrap{
    width:968px;
  }
}

